*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 16px;
  text-align: center;
  color: #ffff;
}

.header {
  background: #222222;
  height: 75px;
  padding: 0 10px;
}

.menu_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  max-width: 80%;
  margin: 0 auto;
}

.left_menu {
  display: flex;
  align-items: baseline;
}

.left-spicok {
  margin: 0 0 0 44px;
}

.right_menu {
  display: flex;
  align-items: baseline;
}

.right-spicok {
  margin: 0 16px 0 16px;
}

.right-spicok_li {
  margin: 0 0 0 16px;
}

.brand {
  align-items: center;
  display: inline-flex;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  background: #F1E4E6;
}

.photo_man {
  width: 100%;
}

.text_brand {
  display: flex;
  height: 100px;
  align-items: center;
}

.text_brand_wan {
  width: 401px;
  height: 75px;
  margin: 0;
  line-height: 35px;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 900;
}

.text_left {
  font-size: 45px;
}

.poloska {
  width: 12px;
  margin: 0 16px 0 0;
  background-color: #F16D7F;
  height: 100px;
}

.text_bold {
  font-weight: 700;
  font-size: 32px;
  white-space: nowrap;
}

.text_fort {
  font-weight: 700;
  font-size: 32px;
  color: #F16D7F;
}


.blik_posihion {
  width: 100%;
  display: flex;
  justify-content: center;
}

.blok {
  margin: 65px 0 0 0;
}

.blok_post {
  position: relative;
}


.blok_women {
  position: absolute;
  top: 105px;
  left: 105px;
}

.blok_man {
  position: absolute;
  top: 105px;
  left: 105px;
  bot
}

.blok_kids {
  position: absolute;
  top: 105px;
  left: 105px;
}

.blok_post + .blok_post {
  padding-left: 30px;
}


.pol {
  color: red;
  font-size: 23px;
}

.blok_baner {
  position: absolute;
  top: 65px;
  left: 491px;
}

.blok_bottom {
  position: relative;
  display: flex;
  justify-content: center;
}

.img_blok_bottom {
  position: absolute;
}